src/java/Utilidad/auditXmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/auditXmlSchema"
    xmlns:tns="http://xml.netbeans.org/schema/auditXmlSchema"
    elementFormDefault="qualified">
    <xsd:element name="process" type="xsd:string"/>
    <xsd:element name="observaciones" type="tns:Observaciones"/>
    <xsd:complexType name="Observaciones">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="observacion"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
