src/java/Utilidad/promoteXmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/promoteXmlSchema"
    xmlns:tns="http://xml.netbeans.org/schema/promoteXmlSchema"
    elementFormDefault="qualified">
    <xsd:element name="endDate" type="xsd:date"/>
    <xsd:element name="topicPromotion" type="xsd:string"/>
    <xsd:element name="startDate" type="xsd:date"/>
    <xsd:element name="success" type="xsd:boolean"/>
</xsd:schema>
