src/java/Utilidad/scheduleXmlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/scheduleXmlSchema"
    xmlns:tns="http://xml.netbeans.org/schema/scheduleXmlSchema"
    elementFormDefault="qualified">
    <xsd:element name="Month" type="xsd:int"/>
    <xsd:element name="year" type="xsd:int"/>
    <xsd:element name="reserved" type="xsd:date"/>
</xsd:schema>
